name: CPP Context Verify & Validation

# Need to update this for actual migration
trigger:
  branches:
    include:
      - main
      - 'team/*'
      - 'team/test-release-logic'
    exclude:
      - 'dev/release-*'
  paths:
    include:
      - '*'

pr:
  - '*'

resources:
  repositories:
    - repository: cppAzureDevOpsTemplates
      type: github
      name: hmcts/cpp-azure-devops-templates
      endpoint: 'hmcts'
      # TODO: After PR merge, uncomment the line below and remove the test branch reference - i.e. ref: '1671-azure-artifactory-publishing-test'
      # ref: 'main'
      ref: 'team/test-release-logic'

pool:
  name: "MDV-ADO-AGENT-AKS-01"
  demands:
    - identifier -equals centos8-j17

variables:
  sonarqubeProject: "uk.gov.moj.cpp.hearing:hearing-parent" # update eg: uk.gov.moj.cpp.listing:listing-parent
  service_Name: 'hearing' # this should be service name. Image repository will be <serviceName>-service and should be in sysnc with aks-deploy repo.. eg : stagingbulkscan, hearing, systemidmapper
  itTest_Folder: 'hearing-integration-test' # integration test folder name system-id-mapper-integration-test
  LANG : 'en_GB.UTF-8' # update lang u need
  LC_ALL : 'en_GB.UTF-8' # update LC u need

stages:
  - ${{ if eq(variables['Build.Reason'], 'PullRequest') }}:
      - template: pipelines/context-verify.yaml@cppAzureDevOpsTemplates
        parameters:
          sonarqube_project: ${{ variables['sonarqubeProject'] }}
          sonarQubeType: 'sonarQubeAKS'

  - ${{ if or(eq(variables['Build.Reason'], 'IndividualCI'), eq(variables['Build.Reason'], 'Manual')) }}:
      - template: pipelines/context-validation.yaml@cppAzureDevOpsTemplates
        parameters:
          repo: "$(Build.Repository.Name)"
          sonarQubeType: 'sonarQubeAKS'
          serviceName: ${{ variables['service_Name'] }}
          itTestFolder: ${{ variables['itTest_Folder'] }}